.ContactBlk {
  border-top: 1px solid #e4e4e4;
  margin: 100px;
  padding: 100px 0 0;
  text-align: center;
  font-size: 30px;
  p {
    font-size: 24px;
    &:first-child {
      color: green;
    }
  }
  a {
    color: green;
    font-weight: 600;
  }
}

@media (max-width: 800px) {
  .ContactBlk {
    margin: 0;
    padding: 8%;
  }
}
